<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.study.vo.RunListVO" alias="runListVO"/>
		<typeAlias type="com.study.vo.CarVO" alias="carVO"/>
		<typeAlias type="com.study.vo.ClientVO" alias="clientVO"/>
		<typeAlias type="com.study.vo.CompVO" alias="compVO"/>
		<typeAlias type="com.study.vo.OilVO" alias="oilVO"/>
		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/wftm"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/study/dao/MySqlRunListDao.xml"/>
		<mapper resource="com/study/dao/MySqlLogonDao.xml"/>
		<mapper resource="com/study/dao/MySQLCompDao.xml"/>
		<mapper resource="com/study/dao/MySQLOilDao.xml"/>
	</mappers>
</configuration>